@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(121deg, rgba(2,0,36,0.8015581232492998) 0%, rgba(9,9,121,0.6278886554621849) 37%, rgba(0,212,255,0.6026785714285714) 100%);
}